/composer.phar
/vendor/
/node_modules/
Homestead.yaml
Homestead.json
composer.phar
.env
.env.*
.DS_Store
Thumbs.db

/.idea/
*/_ide_helper.php
_ide_helper.php
.vagrant
*.orig
vagrant_ansible_inventory_default
.buildpath
.project
.settings/
tags
.tags
.tags_sorted_by_file
.lock
.app-test
/bower
.phpcomplete_extended
.phpcd
dump.rdb

public/dist
public/js
public/lib
public/css
public/image
public/iconfont
public/font
public/main.*
public/main-ie.*
public/app.*
public/fonts
public/*.css
storage/assets/manifest.json
bower_components/
bower/

