.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices {
    min-height: 37px;
    background-image: none;
    border-color: #d9d9d9;
    border-radius: 0;
    box-shadow: none;
}

.chosen-container-single .chosen-single {
    line-height: 37px;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin-top: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin-top: 8px;
}

.chosen-container-single .chosen-single div b {
    background-position: 0 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-drop {
    border-color: #d9d9d9;
}