
.header-info {
    width: 100%;
    background-color: #fff;
}

.header-top {
    width: 1025px;
    margin: 0 auto;
    padding: 30px 0 15px 10px;
}
.img-lg {
    width: 50px;
    margin-right: 28px;
}
.nav-con {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
}
.product-link {
    margin-left: -6px;
}
.nav-con .normal{
    border: 1.5px solid #f78930;
    color: #f78930;
    font-size: 20px;
    padding: 5px 30px;
    font-weight: bold;
}
.nav-con .active{
    background: #f78930;
    color: #fff;
}
.header-banner {
    width: 100%;
    height: 392px;
    border-top: 3px solid #f78930;
    background: url("../../image/bj.jpg") center no-repeat;
}
.bg-info {
    position: relative;
    width: 1025px;
    margin: 0 auto;
}
.img-text {
    position: absolute;
    right: 20px;
    top: 160px;
}
.text-box{
    position: absolute;
    top: 230px;
    left: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.text-box p{
    margin-bottom: 13px;
    line-height: 23px;
}
