@import url("../component/fuzzyQuery.chosen.css");

.chosen-container-multi {
    width: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin-top: 8px;
    border-radius: 0;
    background-image: none;
    background-color: #fff;
}

.checkbox-group label,
.radio-group label {
    margin-left: 5px;
    vertical-align: top;
    margin-top: 9px;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: top;
    margin-top: 3px;
}

.button.delete,
.button.add {
    padding: 10px 12px;
}

.button.delete i,
.button.add i {
    font-size: 14px;
}

.button-box {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.button-box .button {
    margin-top: 0;
}

textarea {
    min-height: 100px;
}

.form-error {
    margin-top: 27px;
    color: red !important;
}

.phone-error {
    display: none;
    color: red !important;
}